.navbar {
  background: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  padding: 12px 30px;
  max-width: fit-content;
  margin: 20px auto;
  position: sticky;
  top: 20px;
  z-index: 1000;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  color: #000;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #535050;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: #000;
  border-radius: 2px;
  transition: 0.3s ease;
}

.open .top {
  transform: rotate(45deg) translate(5px, 5px);
}
.open .middle {
  opacity: 0;
}
.open .bottom {
  transform: rotate(-45deg) translate(5px, -5px);
}
@media (max-width: 768px) {
  .nav-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .hamburger {
    display: flex;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    display: none;
    width: 100%;
  }

  .nav-links.active {
    display: flex;
  }

  .navbar {
    width: 100%;
    border-radius: 20px;
  }
}
